<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

{% extends 'base.html' %}

{% block title %} Login {% endblock %}


{% block content %}
<h2>User Login</h2>
{% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

<form method="POST" action="">
    {{ form.hidden_tag() }}  <!-- CSRF token -->

    <div>
        {{ form.email.label }}
        {{ form.email(size=32) }}
        {% if form.email.errors %}
            <span style="color: red;">
                {% for error in form.email.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        {% endif %}
    </div>

    <div>
        {{ form.password.label }}
        {{ form.password(size=32) }}
        {% if form.password.errors %}
            <span style="color: red;">
                {% for error in form.password.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        {% endif %}
    </div>

    <div>
        {{ form.submit() }}
    </div>
</form>

{% endblock %}
</html>
